dbt-duckdb>=1.10.0
pre-commit>=3
pymdown-extensions
mkdocs
mkdocs-awesome-pages-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-material
mkdocs-material-extensions
mkdocs-pymdownx-material-extras
mkdocs-mermaid2-plugin
